<log4net>
    <root>
        <level value="ALL" />
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>
    <appender name="console" type="log4net.Appender.ManagedColoredConsoleAppender">
        <mapping>
            <level value="DEBUG" />
            <foreColor value="Blue" />
        </mapping>
        <mapping>
            <level value="INFO" />
            <foreColor value="White" />
        </mapping>
        <mapping>
            <level value="WARN" />
            <foreColor value="DarkYellow" />
        </mapping> 
        <mapping>
            <level value="ERROR" />
            <foreColor value="DarkMagenta" />
        </mapping>
        <mapping>
            <level value="FATAL" />
            <foreColor value="DarkRed" />
            <backColor value="White" />
        </mapping>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date %level %logger - %message%newline" />
        </layout>
    </appender>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
        <file value="latest.log" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="5" />
        <maximumFileSize value="10MB" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date %level %logger - %message%newline" />
        </layout>
    </appender>
</log4net>